/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */

.push-down{
  margin-top: 50px
}
.links{
  text-decoration: none;
}
button .link:hover{
  text-decoration: none;
}
.username-link, .username-link:hover{
  text-decoration: none;
}

.card{
  border-radius: 10px;
  box-shadow: 5px 5px 5px #eeee;
}
.no-user-text{
  text-align: center;
  color: #ccc;
  font-size: 20px;
  margin-top: 10px;
}
.no-user-parent{
  /* width: 100%; */
}
.not-completed{
  background-color: red;
  padding: 0px;
  width: 11%;
}
.completed{
  background-color: rgb(109, 221, 44);
  padding: 0px;
  width: 11%;
}